<p id="notice"><%= notice %></p>

<ul><%= link_to "User Status", %{/users/#{params[:id]}/stats/#{Time.now.year}/month/#{Time.now.month}} %></ul>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Time Zone:</strong>
  <%= @user.time_zone %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
