  <ul class="nav nav-tabs" role="tablist">

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Users<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
      	<li><%= link_to 'New User', new_user_path %></li>
        <li><%= link_to 'All Users', users_path %></li>
      </ul>
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Runs<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
      	<li><%= link_to 'New Run', new_run_path %></li>
        <li><%= link_to 'All Runs', runs_path %></li>
      </ul>
    </li>
<!--     <li><a href="#">About</a></li> -->
    <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Stats<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="<%= %{/week_status/#{Date.today.strftime('%U').to_i}} %>">Current Week</a></li>
        <li><a href="<%= %{/week_status/#{Date.today.strftime('%U').to_i-1}} %>">Previus Week</a></li>
        <li><a href="<%= %{/week_status/#{Date.today.strftime('%U').to_i+1}} %>">Next Week</a></li>
      </ul>
    </li>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
</ul>

