<%= form_for(@run, :html => {:class => 'form-group'}) do |f| %>
  <% if @run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@run.errors.count, "error") %> prohibited this run from being saved:</h2>

      <ul>
      <% @run.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= collection_select :run, :user_id, User.all, :id, :name, {:selected => @run.user_id, prompt: 'Select Runner'} %>
  </div>

  <div class="field">
    <%= f.label :datetime %><br>
    <%= f.datetime_select :datetime %>
  </div>
  <div class="field">
    <%= f.label :distance %><br>
    <%= f.text_field :distance, :class => 'form-group'%>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_field :duration_formated, label: 'Inform duration: ', placeholder: 'HH:MM:SS', :data=> {:mask=> '23:59:59'}%>


  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
