<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @run.user.name %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @run.datetime.in_time_zone(@run.user.time_zone) %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @run.distance %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @run.duration_formated %>
</p>

<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
